:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --color_accent: rgb(47, 106, 184);
  --background: rgb(240, 240, 240);
  --font_color_pri: #252525;
  --modal_background: #000000E6;
}

body {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  margin: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0vw 2vh;
  background-color: var(--color_accent);
  z-index: 999;
}

.align-navbar-items {
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 32px;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

.align-input {
  display: flex;
  flex-direction: row;
  width: 732px;
  height: 32px;
  position: relative;
}

.filter {
  width: 100%;
  height: 28px;
  padding-left: 4px;
  border-radius: 2px;
  border: 0;
  background-color: var(--background);
  color: var(--font_color_pri);
  font-weight: 500;
}

.filter::placeholder {
  color: var(--font_color_pri);
  opacity: 0.6;
  font-weight: 500;
}

.btn {
  width: 160px;
  height: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  border: 0;
  border-radius: 2px;
  color: var(--font_color_pri);
}

.content {
  width: 900px;
  height: 100%;
  margin: auto;
  padding-top: 26px;
  background-color: var(--background);
  color: var(--font_color_pri);
  border: 1px solid grey;
}

/* List */
.list {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px 0px;
  color: var(--font_color_pri);
}

.list-item {
  width: calc(100% - 10px);
  height: auto;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid var(--font_color_pri);
}

.list-item-top {
  width: calc(100% - 8px);
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--font_color_pri);
}

.list-item-bottom {
  width: calc(100% - 8px);
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1.0rem;
}

.aling-model {
  width: 170px;
  height: auto;
  margin: 0;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(128, 127, 127);
}

/* Modal */
.modal-background {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--modal_background);
  z-index: 999;
}
 
.modal {
  position: absolute;
  width: 640px;
  height: auto;
  top: 14vh;
  left: min((100vw - 640px) / 2);
  border: none;
  border-radius: 4px;
  z-index: 999;
  text-align: center;
  background-color: var(--background);
  color: var(--font_color_pri);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-align {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  width: 98%;
  height: 32px;
  margin: auto;
  padding: 2px;
  padding-left: 8px;
  border: 1px solid var(--font_color_pri);
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--font_color_pri);
}

.btns-div {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-around;
}

.btn-modal {
  width: min(120px, 30%);
  height: 36px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color_accent);
  border: 0;
  border-radius: 4px;
  color: var(--background);
  cursor: pointer;
}


/* media-query */
@media screen  and (max-width: 768px) {
  .content {
    width: 100%;
    margin: auto;
  }

  .list-item {
    width: calc(100% - 12px);
  }

  .align-input {
    width: 84%;
  }

  .btn {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .btn a {
    font-size: 0;
  }

  .modal {
    width: calc(96% - 8px);
    left: 2%;
    right: 2%;
    margin: auto;
  }

}
